* {
  box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}

body{
  margin: 0;
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
  background-color: #0e1a45;
}

header {
  height: 50px;
  width: 100%;
  background-color: #000000;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
}

.title{
  text-decoration: none;
  display: block;
  line-height: 50px;
  padding: 0px 20px 15px 20px;
  font-size: 20px;
  color: #ffffff;
}

/* 以下index.html */

#first-block {
    background-image: url("../images/FantasyGlassland5.png");
    background-size: cover;
    width: 100%;
    height: 550px;
    margin:50px 0px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.prologue {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

#second-block {
    background-color: #0a1a45;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    justify-content: center;
    align-items: center;
  }

.content {
    box-sizing: border-box;
    width:50%;
    padding: 1em;
    margin: 20px auto;
    font-size: 20px;
}

.content a{
  color:#ffffff
}

#third-block{
  padding-top: 50px;
  padding-bottom: 50px;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0,20px;
  width: 100%;
  gap: 20px 30px;
  background-color: #464555;
}

#tribe_intro_title{
  width:100%;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

.tribes{
  color:#ffffff;
  text-align: center;
  width:30%;
  background-color: #000000;
}

.tribe_name{
  font-size: 20px;
}

.tribe_image{
  width: 256px;
  height: 256px;
}

.tribe_introduction{
  font-size: 18px;
}

#fourth-block{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  justify-content: center;
  align-items: center;
}

.start_btn{
  justify-content: center;
  width: 200px;
  margin: 10px auto;
  padding: 1px;
}

.start_btn a{
	text-align: center;
  /* margin: 10px auto; */
  padding: 7px;
  width: 200px; 
  height: 100px;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  text-decoration: none;
}
.start_btn a:hover {
	color: #0a1a45;
	background: #ffffff;
} 

/* 以下prompt.html */

#first2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.prompt{
    font-size: 15px;
    color: #ffffff;
}

.input{
    width: 70%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
}

.click_btn {
  font-family: 'Yu Mincho Light','YuMincho','Yu Mincho','游明朝体',serif;
  display       : inline-block;
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 7px;   /* 余白       */
  /* line-height   : 1em;       1行の高さ
  transition    : .3s;         なめらか変化 */
  font-size     : 18px; 
  color         : #ffffff;
  background-color: #000000; 
  border-radius: 5px;
  text-decoration: none;
}
.click_btn:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


#first2 h1{
  color: #ffffff;
}

/* 以下result.html */

#second2{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.result{
  font-size: 20px;
  color:#ffffff;
}

/* フッター */

footer{
  width: 100%; /* 幅いっぱいを指定 */
  height: 50px; /* 高さを指定 */
  background: #000000;/* 背景色を指定 */
  text-align: center;
  padding-top: 5px;
}

.rights{
  color: #ffffff;
}

/* ローディング画面用 */

#loading-spinner {
  /* animation: rotateAnimation 3s linear infinite; */
  color: #ffffff;
  height:50px;
}

#loading-time{
  color: #ffffff;
}

.back_btn{
  justify-content: center;
  width: 200px;
  margin: 10px auto;
  padding: 1px;
}

.back_btn a{
	text-align: center;
  /* margin: 10px auto; */
  padding: 7px;
  width: 200px; 
  height: 100px;
  font-size: 18px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  text-decoration: none;
}
.back_btn a:hover {
	color: #0a1a45;
	background: #ffffff;
} 

/* 以下、スライドアニメーション */

.slide {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 300px;
  margin: auto;
  background: #0e1a45;
  display: flex;
}

.tips {
  display: block;
  position: absolute;
  width: inherit;
  height: inherit;
  left: 100%;
  animation: slide-anime 55s ease infinite;
  color: #ffffff;
  display: flex;
}

.tips img{
  width:300px;
  height:100%;
}

.tips p{
  width:300px;
}

.tips:nth-of-type(1) {animation-delay: 0s;}
.tips:nth-of-type(2) {animation-delay: 5s;}
.tips:nth-of-type(3) {animation-delay: 10s;}
.tips:nth-of-type(4) {animation-delay: 15s;}
.tips:nth-of-type(5) {animation-delay: 20s;}
.tips:nth-of-type(6) {animation-delay: 25s;}
.tips:nth-of-type(7) {animation-delay: 30s;}
.tips:nth-of-type(8) {animation-delay: 35s;}
.tips:nth-of-type(9) {animation-delay: 40s;}
.tips:nth-of-type(10) {animation-delay: 45s;}
.tips:nth-of-type(11) {animation-delay: 50s;}
 
@keyframes slide-anime{
  0% {left: 100%;}
  2% {left: 0;}
  8% {left: 0;}
  10% {left: -100%;}
  100% {left: -100%;}
}
