#first-block {
    background-image: url("../images/FantasyGlassland5.png");
    background-size: cover;
    width: 100%;
    height: 550px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

.prologue {
    font-size: 15px;
    color: #ffffff;
}

#second-block {
    background-color: #424242;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }

.content {
    font-size: 15px;
    color: #ffffff;
}

.start_btn {
  position: relative;
  padding: 1rem;
  background-color: #060c08;
  color: #d4d4d4;
}

.start_btn::after {
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 0;
  border-top: 5px solid #d4d4d4;
  border-bottom: 5px solid #d4d4d4;
  transition: .3s;
  content: '';
}

.start_btn:hover::after {
  width: 100%;
}

#first2 {
    background-color: #424242;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.prompt{
    font-size: 15px;
    color: #ffffff;
}

.input{
    width: 100%; /*親要素いっぱい広げる*/
    padding: 10px 15px; /*ボックスを大きくする*/
    font-size: 16px;
    border-radius: 3px; /*ボックス角の丸み*/
    border: 2px solid #ddd; /*枠線*/
    box-sizing: border-box; /*横幅の解釈をpadding, borderまでとする*/
}