<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel=stylesheet href="../static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Anime Character</title>
  </head>

  <body class="text-center flex flex-col min-h-screen">
    <header>
      <h1 class="title">ついに私も異世界転生！？</h1>
    </header>
    <main>{% block content %}{% endblock %}</main>
    <footer class="rights">
      <p>&copy; 2024/1 Ayaka O. All rights reserved.</p>
    </footer>
  </body>
</html>