{% extends "base.html" %}
{% block content %}

<section id="first-block">
    <div class="prologue">
        <a>ドラゴンが空を舞い、角を持ったウサギが野を駆ける…
            <br>
            異世界"エスディリア"
        </a>
    </div>
</section>

<section id="second-block">
    <div class="content">
        <a>もしあなたが異世界に転生したら…
            <br>
            異世界"エスディリア"での、
            <br>
            あなたの姿をのぞいてみませんか？
        </a>
    </div>
    <div class="start_btn">
        <a href="/prompt">転生する</a>
    </div>
</section>


{% endblock %}