{% extends "base.html" %}
{% block content %}

<section id="first-block">
    <div class="prologue">
        <a>ドラゴンが空を舞い、角を持ったウサギが野を駆ける―
            <br>
            異世界"エスディリア"
        </a>
    </div>
</section>

<section id="second-block">
    <div class="content">
        <a>もしあなたが異世界に転生したら…
            <br>
            異世界"エスディリア"での、
            <br>
            あなたの姿をのぞいてみませんか？
        </a>
    </div>
</section>

<section id="third-block">
    <div id="tribe_intro_title">
        <a>エスディリアに住む種族</a>
    </div>

    <div id="cat" class="tribes">
        <p class="tribe_name">猫人族</p>
        <p id ="cat_image">
            <img src="../static/images/cat-ケイティ.png" alt="ケイティ" class="tribe_image"/>
        </p>
        <p id="cat_introduction" class="tribe_introduction">
            猫の耳や尾をもつ一族。
            <br>
            狼人族に比べ柔軟性に優れており、
            <br>
            ジャンプ力が強い。
        </p>
    </div>

    <div id="wolf" class="tribes">
        <p class="tribe_name">狼人族</p>
        <p id ="wolf_image">
            <img src="../static/images/wolf-ガイア仮.png" alt="ガイア" class="tribe_image"/>
        </p>
        <p id="wolf_introduction" class="tribe_introduction">
            狼の耳や牙をもつ一族。
            <br>
            猫人族に比べ力が強く、
            <br>
            どの種族よりも速く地を駆ける。
        </p>
    </div>

    <div id="elf" class="tribes">
        <p class="tribe_name">森人族</p>
        <p id ="elf_image">
            <img src="../static/images/elf-レイリー.png" alt="レイリー" class="tribe_image"/>
        </p>
        <p id="elf_introduction" class="tribe_introduction">
            自然を愛し、自然に生きる者たち。
            <br>
            そのほとんどは森で一生を過ごす。
            <br>
            エルフ、森の民、などと<br>呼ばれることもある。
        </p>
    </div>

    <div id="human" class="tribes">
        <p class="tribe_name">人族</p>
        <p id ="human_image">
            <img src="../static/images/human-アベル.png" alt="アベル" class="tribe_image"/>
        </p>
        <p id="human_introduction" class="tribe_introduction">
            際立った特徴のない平凡な種族。
            <br>
            戦闘能力を持たない者も多い。
        </p>
    </div>

    <div id="dragon" class="tribes">
        <p class="tribe_name">竜人族</p>
        <p id ="dragon_image">
            <img src="../static/images/dragon-ディルク仮.png" alt="ディルク" class="tribe_image"/>
        </p>
        <p id="dragon_introduction" class="tribe_introduction">
            竜の角をもつ種族。
            <br>
            優れた膂力をもち、炎を吐くことができる。
            <br>
            ドラゴニュート、と呼ばれることもある。
        </p>
    </div>

    <div id="fairy" class="tribes">
        <p class="tribe_name">妖精族</p>
        <p id ="fairy_image">
            <img src="../static/images/fairy-アクア.png" alt="アクア" class="tribe_image"/>
        </p>
        <p id="fairy_introduction" class="tribe_introduction">
            神と人の間にある種族。
            <br>
            大地・大気の魔力を操ることに長けている。
            <br>
            気まぐれで、森人族としか<br>ほとんど交流がない。
        </p>
    </div>

</section>

<section id="fourth-block">
    <div class="start_btn">
        <a href="/prompt">転生する</a>
    </div>
</section>

{% endblock %}