{% extends "base.html" %}
{% block content %}


<section id ="first2">
  <h1>あなたの性格・なりたい姿について教えてください</h1>
  <div class="prompt">
    <form action="/result" method="POST">
      <p>
        <label><span>あなたの性格を一言で表すと？</span>
            <br>
            <input class="input" type="text" name="Input_Chara" placeholder="例：好奇心旺盛" required>
        </label>
      </p>
      <p>
        <label><span>どんな職業に就きたい？</span>
          <br>
          <input class="input" type="text" name="Input_Job" placeholder="例：剣士、鍛冶屋" required>
        </label>
      </p>
      <p>
        <label><span>どんなことをしたい？</span>
          <br>
          <input class="input" type="text" name="Input_Do" placeholder="例：世界を旅する、最強の剣を作る" required>
        </label>
      </p>
        <input type="submit" value='転生する' class="click_btn">
    </form>
  </div>
</section>

{% endblock %}
